<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <servlet>
    <servlet-name>Connection</servlet-name>
    <servlet-class>fr.afpa.chat.front.Connection</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Connection</servlet-name>
    <url-pattern>/Connection</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>Connection</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>JDBC_DRIVER</param-name>
    <param-value>com.mysql.jdbc.Driver</param-value>
  </context-param>
  <context-param>
    <param-name>JDBC_URL</param-name>
    <param-value>jdbc:mysql://localhost:3306/chatbox</param-value>
  </context-param>
  <context-param>
    <param-name>JDBC_LOGIN</param-name>
    <param-value>root</param-value>
  </context-param>
  <context-param>
    <param-name>JDBC_PASSWORD</param-name>
    <param-value>root</param-value>
  </context-param>
  <session-config>
    <session-timeout>5</session-timeout>
  </session-config>
  <servlet>
    <display-name>Apache-Axis Servlet</display-name>
    <servlet-name>AxisServlet</servlet-name>
    <servlet-class>org.apache.axis.transport.http.AxisServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>/servlet/AxisServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>*.jws</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>/services/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>Axis Admin Servlet</display-name>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>org.apache.axis.transport.http.AdminServlet</servlet-class>
    <load-on-startup>100</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/servlet/AdminServlet</url-pattern>
  </servlet-mapping>
</web-app>